<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>UTVCO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-login">
    <ion-card-content>
      <ion-card-title class="title">Estudiante</ion-card-title>
      <img src="assets/usuario.png" alt="" class="img">
      <ion-item>
        <ion-label position="floating" class="campos">Usuario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="campos">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button expand="full" color="primary" (click)="ingresar()">Iniciar sesión</ion-button>
      <ion-button expand="full" color="success" (click)="crearCuenta()">Crear Cuenta</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

