<app-menuadmin titulo="UTVCO"></app-menuadmin>

<ion-content [fullscreen]="true">
  <h1 class="titulo">Tutorias Registradas</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <ion-card>
          <!-- La imagen del ítem -->
          <ion-img [src]="item.image" class="img"></ion-img>
          <ion-item>
          </ion-item>
          <ion-card-header>
            <ion-card-title class="card">{{ item.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
