.imagen {
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Esto mantendrá la proporción de la imagen */
  }

  .contenedor-informacion {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
  }

  .contenedor-texto {
    flex: 1; /* El contenedor de texto ocupa el espacio restante */
  }

  ion-button {
    margin-top: 16px; /* Espacio superior para separar los botones de la información */
  }

