<app-header titulo="UTVCO"></app-header>


<ion-content [fullscreen]="true">
  <ion-item class="texto">
      <ion-icon slot="start" name="calendar" class="icono"></ion-icon>
    <ion-label>Selecciona tu Horario </ion-label>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Lunes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
