.texto{
  text-align: center;
}

.icono{
  align-self: center;
}

.ion-text-center{
  font-size:larger;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.boton {
  width: 50%; /* Ancho del botón */
  text-align: center;
}
