<app-header titulo="UTVCO"></app-header>


<ion-content [fullscreen]="true">
  <ion-item class="texto">
      <ion-icon slot="start" name="calendar" class="icono"></ion-icon>
    <ion-label>Selecciona tu Horario </ion-label>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Lunes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-select label="Horario" value="7" multiple="true">
                  <ion-select-option value="7">07:00am - 08:00am</ion-select-option>
                  <ion-select-option value="8">08:00am - 09:00am</ion-select-option>
                  <ion-select-option value="9">09:00am - 10:00am</ion-select-option>
                  <ion-select-option value="10">10:00am - 11:00am</ion-select-option>
                  <ion-select-option value="11">11:00am - 12:00pm</ion-select-option>
                  <ion-select-option value="12">12:00pm - 01:00pm</ion-select-option>
                  <ion-select-option value="1">01:00pm - 02:00pm</ion-select-option>
                  <ion-select-option value="2">02:00pm - 03:00pm</ion-select-option>
                  <ion-select-option value="3">03:00pm - 04:00pm</ion-select-option>
                  <ion-select-option value="4">04:00pm - 05:00pm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Martes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-select label="Horario" value="7" multiple="true" mode="ios">
                  <ion-select-option value="7">07:00am - 08:00am</ion-select-option>
                  <ion-select-option value="8">08:00am - 09:00am</ion-select-option>
                  <ion-select-option value="9">09:00am - 10:00am</ion-select-option>
                  <ion-select-option value="10">10:00am - 11:00am</ion-select-option>
                  <ion-select-option value="11">11:00am - 12:00pm</ion-select-option>
                  <ion-select-option value="12">12:00pm - 01:00pm</ion-select-option>
                  <ion-select-option value="1">01:00pm - 02:00pm</ion-select-option>
                  <ion-select-option value="2">02:00pm - 03:00pm</ion-select-option>
                  <ion-select-option value="3">03:00pm - 04:00pm</ion-select-option>
                  <ion-select-option value="4">04:00pm - 05:00pm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Miercoles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-select label="Horario" value="7" multiple="true" mode="ios">
                  <ion-select-option value="7">07:00am - 08:00am</ion-select-option>
                  <ion-select-option value="8">08:00am - 09:00am</ion-select-option>
                  <ion-select-option value="9">09:00am - 10:00am</ion-select-option>
                  <ion-select-option value="10">10:00am - 11:00am</ion-select-option>
                  <ion-select-option value="11">11:00am - 12:00pm</ion-select-option>
                  <ion-select-option value="12">12:00pm - 01:00pm</ion-select-option>
                  <ion-select-option value="1">01:00pm - 02:00pm</ion-select-option>
                  <ion-select-option value="2">02:00pm - 03:00pm</ion-select-option>
                  <ion-select-option value="3">03:00pm - 04:00pm</ion-select-option>
                  <ion-select-option value="4">04:00pm - 05:00pm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Jueves</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-select label="Horario" value="7" multiple="true" mode="ios">
                  <ion-select-option value="7">07:00am - 08:00am</ion-select-option>
                  <ion-select-option value="8">08:00am - 09:00am</ion-select-option>
                  <ion-select-option value="9">09:00am - 10:00am</ion-select-option>
                  <ion-select-option value="10">10:00am - 11:00am</ion-select-option>
                  <ion-select-option value="11">11:00am - 12:00pm</ion-select-option>
                  <ion-select-option value="12">12:00pm - 01:00pm</ion-select-option>
                  <ion-select-option value="1">01:00pm - 02:00pm</ion-select-option>
                  <ion-select-option value="2">02:00pm - 03:00pm</ion-select-option>
                  <ion-select-option value="3">03:00pm - 04:00pm</ion-select-option>
                  <ion-select-option value="4">04:00pm - 05:00pm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Viernes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-select label="Horario" value="7" multiple="true" mode="ios">
                  <ion-select-option value="7">07:00am - 08:00am</ion-select-option>
                  <ion-select-option value="8">08:00am - 09:00am</ion-select-option>
                  <ion-select-option value="9">09:00am - 10:00am</ion-select-option>
                  <ion-select-option value="10">10:00am - 11:00am</ion-select-option>
                  <ion-select-option value="11">11:00am - 12:00pm</ion-select-option>
                  <ion-select-option value="12">12:00pm - 01:00pm</ion-select-option>
                  <ion-select-option value="1">01:00pm - 02:00pm</ion-select-option>
                  <ion-select-option value="2">02:00pm - 03:00pm</ion-select-option>
                  <ion-select-option value="3">03:00pm - 04:00pm</ion-select-option>
                  <ion-select-option value="4">04:00pm - 05:00pm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="div">
    <ion-button expand="block" shape="round" class="boton"  (click)="toastPosition('EN MEDIO','middle')">
      Aceptar
    </ion-button>
    </div>



</ion-content>
