<app-header titulo="UTVCO"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <!-- Card Deportivas -->
        <ion-col size="12" size-md="6" class="ion-text-center">
          <ion-card color="secondary">
            <ion-card-header>
              <ion-card-title>Deportivas</ion-card-title>
            </ion-card-header>
            <img src="{{imagenes[0]}}" alt="Deportivas Image">
          </ion-card>
        </ion-col>
        <!-- Card Culturales -->
        <ion-col size="12" size-md="6" class="ion-text-center">
          <ion-card color="secondary">
            <ion-card-header>
              <ion-card-title>Culturales</ion-card-title>
            </ion-card-header>
            <img src="{{imagenes[1]}}" alt="Culturales Image">
          </ion-card>
        </ion-col>
        <!-- Card adicional -->
        <ion-col size="12" size-md="12" class="ion-text-center">
          <ion-card class="ion-padding" color="secondary">
            <ion-card-title>Objetivo de las tutorias:</ion-card-title>
            <ion-card-subtitle>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Numquam culpa minima cum voluptatibus vero quidem veniam
                aperiam libero neque. Mollitia rerum aut recusandae? Ab 
                et, reprehenderit nisi molestiae veniam cum!.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Quis dolor, ipsa laborum sequi esse culpa ullam modi 
                 deleniti? Iste dolor perspiciatis totam esse corrupti
                  neque optio, deserunt velit qui atque.
            </ion-card-subtitle>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>



