.custom-card {
    --background: var(--ion-color-secondary);
    width: 30%; /* Ancho del 25% de la página */
    margin: auto; /* Centra horizontalmente */
  }
  
  .custom-card-content {
    --background: var(--ion-color-secondary);
    height: 60vh; /* Altura del 90% del viewport */
  }
  
  .custom-item {
    --border-color: black;
  }
  
  .custom-button {
    --background: var(--ion-color-secondary);
    --border-color: black;
  }
  